<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiGI8BdIvPYpso_X4Q9ByY5sBxEVTJzQc</string>
	<key>GCM_SENDER_ID</key>
	<string>185808987928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Softprodigy.Bubbly</string>
	<key>PROJECT_ID</key>
	<string>bubbly-cb374</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbly-cb374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185808987928:ios:6749cb57cdd410ebe4206d</string>
</dict>
</plist>